@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

header {
    margin-bottom: 1rem;
}

main {
    padding: 0.5rem;
}


body {
    background : rgb(195, 153, 240);
}

nav {
    background : rgb(195, 153, 240);
}